<div class="container">
  <div class="inner padding">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="pull-right">
          <div class="btn nav small">
            <%= link_to "Write", write_path %>
          </div><!-- Inline block hack
       --><div class="btn nav small">
            <%= link_to "Logout", destroy_user_session_path %>
          </div>
        </div>
        <h1>Your story</h1>
        <% @posts.each do |post| %>
          <%= render partial: 'post', locals: {post: post} %>
        <% end %>
        <!-- Make sure to show something nice in the blank case! -->
        <% if @posts.length == 0 %>
          <br><br><br>
          <p class="center big">
            Start your story on the <%= link_to "write", write_path, :class => "underline" %> page
          </p>
        <% end %>
    </div>
  </div>
</div>
<%= render partial: "footer" %>